.MuiContainer-root {
    height: 100vh;
    background-color: #FAFAFA;
    overflow: hidden;
}

.description {
    opacity: 60%;
}

.created {
    opacity: 45%;
}

.dash-positioning {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: right;
    flex-direction: row;
    flex-wrap: nowrap;
}

.side-text {
    width: 382;
}

.forms-container {
    display: flex;
    height: auto;
    max-height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.forms-container h4 {
    display: flex;
}

.popover-style,
.popUpState,
.test {
    background: transparent;
}

.copyLink {
    display: flex;
    align-items: center;
}

.rLink {
    color: #7c7c7c;
    font-size: 14px;
    text-decoration: none;
    padding: auto 5px;
    margin: auto 5px;
    background-color: #c5c5c5;
}

input {
    width: 100%;
    height: 30px;
    border-radius: 0px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.35);
    transition: 0.3s all;
}


@media screen and (max-width: 899px) {
    .dash-positioning {
        flex-direction: column;
    }
}