html{
    background-color:rgb(250,250,250);
}

/* #demo-popup-menu {
    top: 0px
} */

/* .positioning {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
} */

.MuiBackdrop-root {
    height: 100%;
}

.rightButtons{
    padding: 63px 31px;
    overflow: auto;
    position: fixed;
    max-width: 575px;
    height: 100%;
    left: 1182px;
    top: 0px;
}

.mainmenu{
    position: fixed;
    top: 2%;
    right: 3%;
    z-index: 2;
}