.break{
    border: 1px solid rgba(0, 0, 0, 0.42); 
    position: absolute;
    height: 0px;
    left: 0%;
    right: 0%;
    bottom: 0px;
}

/*is fixed width wise??*/
.question{
    width: 166px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.subquestion{
    width: 166px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    /*only changed this*/
    font-size: 12px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textArea{
    resize: none;
}
