.MuiContainer-root {
    height: 100vh;
    background-color: #FAFAFA;
}
.login-positioning {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* not working well for whatever reason */
    flex-wrap: wrap;
}
.login-text {
    min-width: 320px;
    margin-right: 102px;
}

.button-block {
    display: flex;
    width: 100%;
    justify-content: right;
}
.button-cont {
    display: flex;
    justify-content: space-between;
    width: 173px;
}

@media screen and (max-width: 925px) {
    .login-positioning {
        padding: 70px 0px;
    }
    .login-text h4 {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 600px) {
    .login-text {
        margin: 0 0 50px 0px;
    }
    .login-text h6 {
        font-size: 120%;
    }
    
}

@media screen and (max-width: 420px) {
    .login-text h6 {
        font-size: 80%;
        word-wrap: break-word;
    }


}